<div class="setting_sidebar pull-left">
    <ul>
        <li>
            <a href="/settings/site"><i class="icon-cog"></i>Settings</a>
        </li>
        <li>
            <a href="/settings/profile"><i class="icon-users"></i>Profiles</a>
        </li>
        <li>
            <a href="/settings/posts"><i class="icon-newspaper"></i>Posts</a>
        </li>
        <li>
            <a href="/settings/about"><i class="icon-envelope"></i>Edit About</a>
        </li>
        <li>
            <a href="/settings/logs"><i class="icon-stats"></i>Visit Logs</a>
        </li>
    </ul>
</div>