<% include _header.ejs %>
<style type="text/css">
    h1#title-404{
        display: block;
        width: 100%;
        text-align: center;
        font-size: 10em;
        margin: 100px 0;
    }
    p.error{
        text-align: center;
    }
</style>
<div class="container">
    <h1 id="title-404">404</h1>
    <p class="error">Don't Panic.</p>
</div>
<% include _footer.ejs %>