</main>
<footer>
    <div class="container">
        <P style="text-align: center">
            Copyright @ 2013 &nbsp;&nbsp;&nbsp;&nbsp; <a target="_blank" title="Code with Love at Github" class="github_link" href="http://Github.com/Cyrilis/Eblog">  <i title="Code" class="icon-embed"></i> &nbsp;with&nbsp; <i class="icon-heart"></i> &nbsp;at&nbsp; <i class="icon-github"></i></a>
        </P>
    </div>
</footer>
<div class="backdrops"></div>
<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/javascripts/rails.js"></script>
<%if (mode == 'edit' || mode == 'new'){ %><script src="/javascripts/umeditor.config.js"></script>
<script src="/javascripts/umeditor.min.js"></script>
<script>
    var ue = UM.getEditor('post_content');
</script><%} %>
<% if (mode == 'markdown'){ %>
    <script src="/javascripts/markdown/codemirror.js"></script>
    <script src="/javascripts/markdown/overlay.js"></script>
    <script src="/javascripts/markdown/markdown.js"></script>
    <script src="/javascripts/markdown/gfm.js"></script>
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("post_content"), {
            mode: 'gfm',
            lineNumbers: false,
            theme: "default",
            lineWrapping: true
        });
    </script>
<%} %>
<script src="/javascripts/prefix.js"></script>
<script src="/javascripts/highlight.min.js"></script>
<script src="/javascripts/application.js"></script>
<% if (util.isProduction()){ %>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-33923086-1', 'cyrilis.com');
    ga('send', 'pageview');

</script>
<% } %>
</body>
</html>
