</main>
<footer>
    <div class="container">
        <P style="text-align: center">
            Copyright @ 2013 &nbsp;&nbsp;&nbsp;&nbsp; <a target="_blank" class="github_link" href="http://Github.com/Cyrilis/Eblog">  <i class="icon-embed"></i> &nbsp;with&nbsp; <i class="icon-heart"></i> &nbsp;at&nbsp; <i class="icon-github"></i></a>
        </P>
    </div>
</footer>
<div class="backdrops"></div>
<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/javascripts/rails.js"></script>
<%if (mode == 'edit' || mode == 'new'){ %>
<script src="/javascripts/umeditor.config.js"></script>
<script src="/javascripts/umeditor.min.js"></script>
<script>
    var ue = UM.getEditor('post_content');
</script>
<%} %>
<script src="/javascripts/prefix.js"></script>
<script src="/javascripts/application.js"></script>
</body>
</html>
