</main>
<footer>
    <div class="container">
        <P style="text-align: center">
            Copyright @ 2013 &nbsp;&nbsp;&nbsp;&nbsp; <a target="_blank" class="github_link" href="http://Github.com/Cyrilis/Eblog">  <i class="icon-embed"></i> &nbsp;with&nbsp; <i class="icon-heart"></i> &nbsp;at&nbsp; <i class="icon-github"></i></a>
        </P>
    </div>
</footer>
<div class="backdrops"></div>
<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/javascripts/rails.js"></script>
<%if (mode == 'edit' || mode == 'new'){ %><script src="/javascripts/umeditor.config.js"></script>
<script src="/javascripts/umeditor.min.js"></script>
<script>
    var ue = UM.getEditor('post_content');
</script><%} %>
<% if (mode == 'markdown'){ %>
<link rel="stylesheet" href="/javascripts/codemirror/codemirror.css"/>
<script src="/javascripts/shortcuts.js"></script>
<script src="/javascripts/codemirror/codemirror.js"></script>
<script src="/javascripts/codemirror/markdown-actions.js"></script>
<script src="/javascripts/codemirror/overlay.js"></script>
<script src="/javascripts/codemirror/markdown.js"></script>
<script src="/javascripts/codemirror/gfm.js"></script>
<script src="/javascripts/showdown/showdown.js"></script>
<script src="/javascripts/showdown/imagepreview.js"></script>
<script src="/javascripts/showdown/gfm.js"></script>
<script src="/javascripts/markdown.js"></script>
<%} %>
<script src="/javascripts/prefix.js"></script>
<script src="/javascripts/highlight.min.js"></script>
<script src="/javascripts/application.js"></script>
</body>
</html>
