<div class="setting_sidebar pull-left">
    <ul>
        <li>
            <a href="/settings"><i class="icon-cog"></i>Settings</a>
        </li>
        <li>
            <a href="/profiles"><i class="icon-users"></i>Profiles</a>
        </li>
        <li>
            <a href="/posts"><i class="icon-newspaper"></i>Posts</a>
        </li>
        <li>
            <a href="/logs"><i class="icon-stats"></i>Visit Logs</a>
        </li>
    </ul>
</div>