<%- include _header.ejs %>
<div class="container posts">
    <div class="post_list">
        <article class="clearfix">
            <div class="post_title clearfix">
                <h2><a href="/about">About Me</a></h2>
            </div>
            <div class="post_content clearfix">
                <%- site.about  %>
            </div>
        </article>
    </div>

</div>
<% include _footer.ejs %>