</main>
<footer>
    <div class="container">
        <P>
            Copyright @ 2013
        </P>
    </div>
</footer>
<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/javascripts/vendor-editor.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>
