</main>
<footer>
    <div class="container">
        <P style="text-align: center">
            Copyright @ 2013 &nbsp;&nbsp;&nbsp;&nbsp;  Powered By <a href="http://github.com/cyrilis/Eblog">Eblog</a>
        </P>
    </div>
</footer>
<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/javascripts/rails.js"></script>
<%if (mode == 'edit' || mode == 'new'){ %>
<script src="/javascripts/umeditor.min.js"></script>
<script src="/javascripts/umeditor.config.js"></script>
<script>
    var ue = UM.getEditor('post_content');
</script>
<%} %>
<script src="/javascripts/prefix.js"></script>
<script src="/javascripts/application.js"></script>
</body>
</html>
