<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><% title %></title>
    <link rel="stylesheet" href="stylesheets/normalize.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>
<header>
    <nav class="container">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/reg">Register</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>