<%- include _header.ejs %>
<div class="container">
    <form action="/login" method="post">
        <div class="form-group">
            <label for="user_email">User Email</label><input id="user_email" name="user[email]" type="text"/>
        </div>
        <div class="form-group">
            <label for="user_password">User Password</label><input id="user_password" name="user[password]" type="password"/>
        </div>
        <div class="form-group">
            <label for="">&nbsp;</label>
            <input id="submit" class="button" type="submit"/>
        </div>
    </form>
</div>
<% include _footer.ejs %>