<%- include _header.ejs %>
<div class="container">
    <form action="/reg" method="post">
        <div class="form-group">
            <label for="user_name">User Name</label>
            <input id="user_name" name="user[name]" type="text"/>
        </div>
        <div class="form-group">
            <label for="user_email">User Email</label>
            <input id="user_email" name="user[email]" type="email"/>
        </div>
        <div class="form-group">
            <label for="user_password">User Password</label>
            <input id="user_password" name="user[password]" type="password"/>
        </div>
        <div class="form-group">
            <label for="user_password_confirmation">User Password</label>
            <input id="user_password_confirmation" name="user[password_confirmation]" type="password"/>
        </div>
        <div class="form-group">
            <label for="submit">&nbsp;</label>
            <input class="button" id="submit" value="Register" type="submit"/>
        </div>
    </form>
</div>
<%- include _footer.ejs %>