<!doctype html>
<html lang="en" style="font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-size: 100%; clear: both">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Email- Cyrilis.com</title>
</head>
<body style="padding: 30px 0;margin: 0;font: 400 18px/2 &quot;Georgia&quot;, &quot;Xin Gothic&quot;, &quot;Hiragino Sans GB&quot;, &quot;Droid Sans&quot;, &quot;Microsoft YaHei&quot;, sans-serif;background: #ddd;">
<div id="container" style="max-width: 1440px;width: 80%;margin: 0 auto;background: #fff;-webkit-box-shadow: 0 0 1.25em rgba(0,0,0,0.1);-moz-box-shadow: 0 0 1.25em rgba(0,0,0,0.1);box-shadow: 0 0 1.25em rgba(0,0,0,0.1);margin-top: 40px;padding-bottom: 100px;">
    <main style="display: block;margin: 0 auto;">
        <div class="container posts" style="margin: 0 auto;width: 80%;position: relative;padding: 30px 0">
            <div class="post-list">
                <article class="clearfix" style="display: block;width: 100%;position: relative;zoom: 1;">
                    <header class="post-title clearfix" style="display: block;zoom: 1;">
                        <h2 style="font-weight: normal;text-align: center;font-size: 50px;font-family: 'Libre Baskerville', serif;">
                            <a href="#" style="background: transparent;color: #222;text-decoration: none;"><%- now %></a></h2>
                    </header>
                    <div class="post-content clearfix" style="zoom: 1;">
                        <p>How is your day?</p>
                        <p>Here is some memory: <%= time %></p>
                        <%= content %>
                    </div>
                </article>
                <footer style="clear: both"></footer>
            </div>
        </div>
    </main>
</div>

<footer style="display: block;margin: 40px auto;">
    <div class="container" style="margin: 0 auto;width: 960px;position: relative;">
        <p style="text-align: center;margin: 0 0 1em 0;">
            Copyright @ 2013 &nbsp;&nbsp;&nbsp;&nbsp; <a target="_blank" title="http://Cyrilis.com" class="github_link" href="http://cyrilis.com" style="background: transparent;color: #00a6e8;text-decoration: none;">Cyrilis.com</a>
        </p>
    </div>
</footer>

</body>
</html>
