linkColor = #00a6e8
html
  font-size: 100%
body
  line-height 1
  font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans", "Microsoft YaHei", sans-serif;
a
  color linkColor
  text-decoration none
figure
  width 100%
  position: relative;
figcaption
  display block
  position: absolute;
  top 0
  left -200px
  width 180px
  text-align right
  margin-right 20px
  padding-bottom 5px
  border-bottom 1px solid #f0f0f0
  color #999999
img
  max-width 760px
hr
  border-top 1px solid #f0f0f0

pre
  display block
  overflow-x auto
  width 100%
  white-space pre
  background: #23241f
code.hljs
  display inline-block
.clearfix
  zoom 1
.clearfix:after
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
.logo
  display none
.container
  margin: 0 auto
  width: 960px
  position relative
#header
  border-bottom 2px solid #f0f0f0
  nav ul
    margin: 0
    padding 10px 0
    width: 100%
    list-style: none
    li
      display block
      float left
      position: relative;
      a
        display inline-block
        width 160px
        height 40px
        padding 10px
        text-align center
        line-height 40px
      &.has-sub
        position: absolute;
        right 0
        a
          padding-bottom 20px
        ul.sub-nav
          position: absolute;
          display none
          z-index 100
          zoom: 1;
          background #ffffff
          border 2px solid #f0f0f0
          border-top 0
          padding-top 0
          top 100%
          li
            float: none;
            a
              text-align left
              padding 10px 30px
              width auto
        &:hover
          ul.sub-nav
            display block

main
  article
    width: 100%
    position: relative
    header
      h2
        text-align center
        font-size 2.4em
        font-family :'Libre Baskerville',serif
    aside.post-meta
      width 160px
      float: left;
      .post-date
        border-top 1px solid #eeeeee
        padding-top 10px
        margin-top 10px
        padding-bottom 10px
        border-bottom 1px solid #eeeeee
        margin-bottom 10px
    .post-content
      width: 760px
      float: right;
      p
        margin-top 0
        margin-bottom 1.4em
    .post-footer
      clear both
.setting_sidebar
  width: 200px
  float: left;
  ul
    border-left 2px solid #f0f0f0
    border-right 2px solid #f0f0f0
    border-bottom 1px solid #f0f0f0
    background: #ffffff
    list-style none
    margin: 0
    padding 0
    li
      height 50px
      line-height 50px
      border-bottom 1px solid #f0f0f0
      [class^="icon-"], [class*=" icon-"]
        display inline-block
        margin-right 5px
        height 50px
        border-right 50px
        width 50px
        text-align center
        line-height: 50px;
        border-right 1px solid #f0f0f0
      a
        text-transform uppercase
        color #777777

.setting_content
  width: 720px
  .post_list_tab
    li
      position: relative;
    h2
      font-size 20px
    .post-actions
      position: absolute;
      line-height 20px
      right 0
      top 0
      display block
      opacity 0
      -webkit-transition: opacity 0.3s
      -moz-transition: opacity 0.3s
      -ms-transition: opacity 0.3s
      -o-transition: opacity 0.3s
      transition: opacity 0.3s
    li:hover
      .post-actions
        display block
        opacity 1
  float: right
form
  margin: 30px 0
  &.main-form
    width: 600px
    margin: 40px auto
  .form-group
    margin-bottom 10px
    label
      display inline-block
      width 135px
      margin-right 10px
    input[type="email"],input[type="text"],input[type="password"]
      padding 5px
      border 1px solid #f0f0f0
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
    textarea
      padding 5px
      border 1px solid #f0f0f0
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
    input, textarea
      width 400px
      &:active,&:focus
        outline none
.button
  display inline-block
  width auto!important
  padding 8px 20px
  font-size 1em
  line-height 1
  border 1px solid #f0f0f0
  background #f0f0f0
  -webkit-transition: background 0.3s ease-out, border-color 0.3s ease-out
  -moz-transition: background 0.3s ease-out, border-color 0.3s ease-out
  -ms-transition: background 0.3s ease-out, border-color 0.3s ease-out
  -o-transition: background 0.3s ease-out, border-color 0.3s ease-out
  transition: background 0.3s ease-out, border-color 0.3s ease-out
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  border-radius: 2px
  &:hover
    background #dddddd
    border-color #dddddd
.tag_link
  display inline-block
  margin-right 10px
  i
    margin-right 3px
    line-height 29px
    display inline-block
.flash_success, .flash_error
  display block
  position: fixed;
  right 20px
  bottom 30px
  background linkColor
  color #ffffff
  padding: 5px 20px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  z-index 1000
  -webkit-transition: opacity 0.3s
  -moz-transition: opacity 0.3s
  -ms-transition: opacity 0.3s
  -o-transition: opacity 0.3s
  transition: opacity 0.3s
  &:hover
    opacity 0.3

