html {
  font-size: 100%;
}
body {
  line-height: 1;
  font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans", "Microsoft YaHei", sans-serif;
}
a {
  color: #00a6e8;
  text-decoration: none;
}
figure {
  width: 100%;
  position: relative;
}
figcaption {
  display: block;
  position: absolute;
  top: 0;
  left: -200px;
  width: 180px;
  text-align: right;
  margin-right: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f0f0f0;
  color: #999;
}
img {
  max-width: 760px;
}
hr {
  border-top: 1px solid #f0f0f0;
}
pre {
  display: block;
  overflow-x: auto;
  width: 100%;
  white-space: pre;
  background: #23241f;
}
code.hljs {
  display: inline-block;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}
.logo {
  display: none;
}
.container {
  margin: 0 auto;
  width: 960px;
  position: relative;
}
#header {
  border-bottom: 2px solid #f0f0f0;
}
#header nav ul {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  list-style: none;
}
#header nav ul li {
  display: block;
  float: left;
  position: relative;
}
#header nav ul li a {
  display: inline-block;
  width: 160px;
  height: 40px;
  padding: 10px;
  text-align: center;
  line-height: 40px;
}
#header nav ul li.has-sub {
  position: absolute;
  right: 0;
}
#header nav ul li.has-sub a {
  padding-bottom: 20px;
}
#header nav ul li.has-sub ul.sub-nav {
  position: absolute;
  display: none;
  z-index: 100;
  zoom: 1;
  background: #fff;
  border: 2px solid #f0f0f0;
  border-top: 0;
  padding-top: 0;
  top: 100%;
}
#header nav ul li.has-sub ul.sub-nav li {
  float: none;
}
#header nav ul li.has-sub ul.sub-nav li a {
  text-align: left;
  padding: 10px 30px;
  width: auto;
}
#header nav ul li.has-sub:hover ul.sub-nav {
  display: block;
}
main article {
  width: 100%;
  position: relative;
}
main article header h2 {
  text-align: center;
  font-size: 2.4em;
  font-family: 'Libre Baskerville', serif;
}
main article aside.post-meta {
  width: 160px;
  float: left;
}
main article aside.post-meta .post-date {
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
main article .post-content {
  width: 760px;
  float: right;
}
main article .post-content p {
  margin-top: 0;
  margin-bottom: 1.4em;
}
main article .post-footer {
  clear: both;
}
.setting_sidebar {
  width: 200px;
  float: left;
}
.setting_sidebar ul {
  border-left: 2px solid #f0f0f0;
  border-right: 2px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  background: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}
.setting_sidebar ul li {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #f0f0f0;
}
.setting_sidebar ul li [class^="icon-"],
.setting_sidebar ul li [class*=" icon-"] {
  display: inline-block;
  margin-right: 5px;
  height: 50px;
  border-right: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-right: 1px solid #f0f0f0;
}
.setting_sidebar ul li a {
  text-transform: uppercase;
  color: #777;
}
.setting_content {
  width: 720px;
  float: right;
}
.setting_content .post_list_tab li {
  position: relative;
}
.setting_content .post_list_tab h2 {
  font-size: 20px;
}
.setting_content .post_list_tab .post-actions {
  position: absolute;
  line-height: 20px;
  right: 0;
  top: 0;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.setting_content .post_list_tab li:hover .post-actions {
  display: block;
  opacity: 1;
}
form {
  margin: 30px 0;
}
form.main-form {
  width: 600px;
  margin: 40px auto;
}
form .form-group {
  margin-bottom: 10px;
}
form .form-group label {
  display: inline-block;
  width: 135px;
  margin-right: 10px;
}
form .form-group input[type="email"],
form .form-group input[type="text"],
form .form-group input[type="password"],
form .form-group textarea {
  padding: 5px;
  border: 1px solid #f0f0f0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
/* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
/* Firefox, other Gecko */
  box-sizing: border-box;
}
form .form-group input,
form .form-group textarea {
  width: 400px;
}
form .form-group input:active,
form .form-group textarea:active,
form .form-group input:focus,
form .form-group textarea:focus {
  outline: none;
}
.button {
  display: inline-block;
  width: auto !important;
  padding: 8px 20px;
  font-size: 1em;
  line-height: 1;
  border: 1px solid #f0f0f0;
  background: #f0f0f0;
  -webkit-transition: background 0.3s ease-out, border-color 0.3s ease-out;
  -moz-transition: background 0.3s ease-out, border-color 0.3s ease-out;
  -ms-transition: background 0.3s ease-out, border-color 0.3s ease-out;
  -o-transition: background 0.3s ease-out, border-color 0.3s ease-out;
  transition: background 0.3s ease-out, border-color 0.3s ease-out;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.button:hover {
  background: #ddd;
  border-color: #ddd;
}
.tag_link {
  display: inline-block;
  margin-right: 10px;
}
.tag_link i {
  margin-right: 3px;
  line-height: 29px;
  display: inline-block;
}
.flash_success,
.flash_error {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 30px;
  background: #00a6e8;
  color: #fff;
  padding: 5px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 1000;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.flash_success:hover,
.flash_error:hover {
  opacity: 0.3;
}
#post-title-input {
  border-width: 0;
  border-bottom-width: 1px;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0 10px 0;
  width: 100%;
  line-height: 30px;
}
#markdown textarea {
  width: 100%;
  border: 0;
  min-height: 600px;
}
#tags-container {
  display: inline-block;
  border: 1px solid #f1f1f1;
}
#tags-container input {
  border: 0;
}
.tag-span {
  display: inline-block;
  background: #00a6e8;
  color: #fff;
  padding: 0 5px;
  margin-right: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#fullscreen {
  display: block;
  color: #00a6e8;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 0;
}
#fullscreen i.icon-expand {
  display: inline-block;
}
#fullscreen i.icon-contract {
  display: none;
}
.markdown_text {
  margin-bottom: 30px;
}
/* CodeMirror Style Override */
.CodeMirror {
  min-height: 450px;
}
.CodeMirror.cm-s-default .cm-link {
  color: #00a6e8;
}
.CodeMirror.cm-s-default .cm-string {
  color: #d64473;
}
.CodeMirror.cm-s-default .cm-tag {
  color: #419c78;
}
.markdown_html {
  display: none;
}
#markdown-container.fullscreen {
  display: block;
  width: 100%;
  background: #fff;
  height: 100%;
}
#markdown-container.fullscreen .markdown_text,
#markdown-container.fullscreen .markdown_html {
  display: block;
  width: 50%;
  height: 100%;
  overflow: auto;
  position: fixed;
  padding: 60px 30px;
  -webkit-box-sizing: border-box;
/* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
/* Firefox, other Gecko */
  box-sizing: border-box;
  min-height: 100%;
}
#markdown-container.fullscreen .markdown_text {
  left: 0;
}
#markdown-container.fullscreen .markdown_html {
  right: 0;
  border-left: 2px solid #ddd;
}
#markdown-container.fullscreen #fullscreen {
  right: 30px;
  top: 30px;
}
#markdown-container.fullscreen #fullscreen i.icon-contract {
  display: inline-block;
}
#markdown-container.fullscreen #fullscreen i.icon-expand {
  display: none;
}
