linkColor = #00a6e8
html
  font-size: 100%
body
  line-height 1
  font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans", "Microsoft YaHei", sans-serif;
a
  color linkColor
  text-decoration none
.clearfix
  zoom 1
.clearfix:after
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
.logo
  display none
.container
  margin: 0 auto
  width: 960px
#header
  border-bottom 2px solid #f0f0f0
  nav ul
    margin: 0
    padding 10px 0
    width: 100%
    list-style: none
    li
      display block
      float left
      position: relative;
      a
        display inline-block
        width 220px
        height 40px
        padding 10px
        text-align center
        line-height 40px
      &.has-sub
        ul
          position: absolute;
          li
            float: none;
main
  article
    width: 100%
    position: relative
    header
      h2
        text-align center
        font-size 2.4em
        font-family :'Libre Baskerville',serif
    aside.post-meta
      width 160px
      float: left;
      .post-date
        border-top 1px solid #eeeeee
        padding-top 10px
        margin-top 10px
        padding-bottom 10px
        border-bottom 1px solid #eeeeee
        margin-bottom 10px
    .post-content
      width: 760px
      float: right;
      p
        margin-top 0
        margin-bottom 1.4em
    .post-footer
      clear both
