/**
 * Created by Cyril on 13-10-22.
 */
border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments
body{
  margin: 0;
  padding 0;
  background: #ffffff;
  font-family: "Microsoft Yahei","Helvetica Neue", Arail, sans-serif
}
.container
  width: 1000px;
  margin: 0 auto;