/**
 * Created by Cyril on 13-12-20.
 */
@font-face {
  font-family: 'um-turquoise';
  src: url("fonts/turquoise.eot");
  src: url("fonts/turquoise.eot?#iefix") format('embedded-opentype'), url("fonts/turquoise.ttf") format('truetype'), url("fonts/turquoise.woff") format('woff'), url("fonts/turquoise.svg#turquoise") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'um-turquoise';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
}
/*maincolor = #585858*/
.edui-container {
  position: relative;
  border: 2px solid #18b0b6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.edui-toolbar {
  position: relative;
  box-shadow: 0 4px 0 #169ea4;
}
.edui-btn-toolbar {
  background: #18b0b6;
  padding: 4px 2px;
  padding-right: 40px;
}
.edui-btn-toolbar>.edui-btn,
.edui-btn-toolbar>.edui-separator,
.edui-btn-toolbar>.edui-splitbutton {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: top;
  color: #fff;
  position: relative;
}
.edui-btn-toolbar>.edui-btn.disabled,
.edui-btn-toolbar>.edui-separator.disabled,
.edui-btn-toolbar>.edui-splitbutton.disabled {
  color: #ddd;
}
.edui-btn-toolbar>.edui-btn.edui-btn-name-paragraph,
.edui-btn-toolbar>.edui-separator.edui-btn-name-paragraph,
.edui-btn-toolbar>.edui-splitbutton.edui-btn-name-paragraph,
.edui-btn-toolbar>.edui-btn.edui-btn-name-fontfamily,
.edui-btn-toolbar>.edui-separator.edui-btn-name-fontfamily,
.edui-btn-toolbar>.edui-splitbutton.edui-btn-name-fontfamily,
.edui-btn-toolbar>.edui-btn.edui-btn-name-fontsize,
.edui-btn-toolbar>.edui-separator.edui-btn-name-fontsize,
.edui-btn-toolbar>.edui-splitbutton.edui-btn-name-fontsize {
  width: 96px;
}
.edui-btn-toolbar>.edui-btn.edui-btn-name-paragraph .edui-button-label,
.edui-btn-toolbar>.edui-separator.edui-btn-name-paragraph .edui-button-label,
.edui-btn-toolbar>.edui-splitbutton.edui-btn-name-paragraph .edui-button-label,
.edui-btn-toolbar>.edui-btn.edui-btn-name-fontfamily .edui-button-label,
.edui-btn-toolbar>.edui-separator.edui-btn-name-fontfamily .edui-button-label,
.edui-btn-toolbar>.edui-splitbutton.edui-btn-name-fontfamily .edui-button-label,
.edui-btn-toolbar>.edui-btn.edui-btn-name-fontsize .edui-button-label,
.edui-btn-toolbar>.edui-separator.edui-btn-name-fontsize .edui-button-label,
.edui-btn-toolbar>.edui-splitbutton.edui-btn-name-fontsize .edui-button-label {
  line-height: 36px;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.edui-btn-toolbar>.edui-btn .edui-icon,
.edui-btn-toolbar>.edui-separator .edui-icon,
.edui-btn-toolbar>.edui-splitbutton .edui-icon {
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'um-turquoise';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
}
.edui-btn-toolbar>.edui-btn .edui-icon-fullscreen:before {
  content: "\e619";
}
.edui-btn-toolbar>.edui-btn .edui-icon-source:before {
  content: "\e600";
}
.edui-btn-toolbar>.edui-btn .edui-icon-undo:before {
  content: "\e601";
}
.edui-btn-toolbar>.edui-btn .edui-icon-redo:before {
  content: "\e602";
}
.edui-btn-toolbar>.edui-btn .edui-icon-bold:before {
  content: "\e603";
}
.edui-btn-toolbar>.edui-btn .edui-icon-italic:before {
  content: "\e604";
}
.edui-btn-toolbar>.edui-btn .edui-icon-underline:before {
  content: "\e605";
}
.edui-btn-toolbar>.edui-btn .edui-icon-strikethrough:before {
  content: "\e606";
}
.edui-btn-toolbar>.edui-btn .edui-icon-superscript:before {
  content: "\e634";
}
.edui-btn-toolbar>.edui-btn .edui-icon-subscript:before {
  content: "\e637";
}
.edui-btn-toolbar>.edui-btn .edui-icon-removeformat:before {
  content: "\e638";
}
.edui-btn-toolbar>.edui-btn .edui-icon-insertorderedlist:before {
  content: "\e60d";
}
.edui-btn-toolbar>.edui-btn .edui-icon-insertunorderedlist:before {
  content: "\e60e";
}
.edui-btn-toolbar>.edui-btn .edui-icon-selectall:before {
  content: "\e612";
}
.edui-btn-toolbar>.edui-btn .edui-icon-cleardoc:before {
  content: "\e609";
}
.edui-btn-toolbar>.edui-btn .edui-icon-justifyleft:before {
  content: "\e613";
}
.edui-btn-toolbar>.edui-btn .edui-icon-justifycenter:before {
  content: "\e614";
}
.edui-btn-toolbar>.edui-btn .edui-icon-justifyright:before {
  content: "\e615";
}
.edui-btn-toolbar>.edui-btn .edui-icon-link:before {
  content: "\e625";
}
.edui-btn-toolbar>.edui-btn .edui-icon-unlink:before {
  content: "\e623";
}
.edui-btn-toolbar>.edui-btn .edui-icon-emotion:before {
  content: "\e626";
}
.edui-btn-toolbar>.edui-btn .edui-icon-image:before {
  content: "\e610";
}
.edui-btn-toolbar>.edui-btn .edui-icon-insertvideo:before {
  content: "\e628";
}
.edui-btn-toolbar>.edui-btn .edui-icon-map:before {
  content: "\e62e";
}
.edui-btn-toolbar>.edui-btn .edui-icon-horizontal:before {
  content: "\e62f";
}
.edui-btn-toolbar>.edui-btn .edui-icon-print:before {
  content: "\e630";
}
.edui-btn-toolbar>.edui-btn .edui-icon-preview:before {
  content: "\e633";
}
.edui-btn-toolbar>.edui-btn:hover .edui-icon,
.edui-btn-toolbar>.edui-splitbutton:hover .edui-icon,
.edui-btn-toolbar>.edui-btn.active .edui-icon,
.edui-btn-toolbar>.edui-splitbutton.active .edui-icon {
  background: #17a7ad;
}
.edui-btn-toolbar>.edui-btn-fullscreen {
  position: absolute;
  right: 4px;
}
.edui-btn-toolbar>.edui-separator {
  width: 10px;
}
.edui-btn-toolbar>.edui-separator:before {
  content: " ";
  font-size: 36px;
  color: #fafafa;
  opacity: 0.2;
  border-right: 1px solid #fff;
  display: inline-block;
  width: 5px;
  height: 36px;
  line-height: 36px;
}
.edui-btn-toolbar>.edui-splitbutton {
  width: 36px;
}
.edui-btn-toolbar>.edui-splitbutton>.edui-btn {
  display: none;
  width: 36px;
  height: 36px;
  overflow: hidden;
  vertical-align: top;
  color: #fff;
}
.edui-btn-toolbar>.edui-splitbutton.disabled>.edui-btn {
  color: #ddd;
}
.edui-btn-toolbar .edui-btn.edui-dropdown-toggle {
  display: block !important;
  width: 100%;
  height: 100%;
  font-family: 'um-turquoise';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  overflow: hidden;
}
.edui-btn-toolbar .edui-btn.edui-dropdown-toggle:before {
  width: 36px;
  height: 36px;
}
.edui-btn-toolbar>.edui-splitbutton-forecolor .edui-btn.edui-dropdown-toggle:before {
  content: "\e607";
  display: inline-block;
}
.edui-btn-toolbar>.edui-splitbutton-forecolor.hover .edui-btn.edui-dropdown-toggle:before {
  background: #17a7ad;
}
.edui-btn-toolbar>.edui-splitbutton-backcolor .edui-btn.edui-dropdown-toggle:before {
  content: "\e607";
  background: #fff;
  color: #18b0b6;
  padding: 3px;
}
.edui-btn-toolbar>.edui-splitbutton-backcolor.hover .edui-btn.edui-dropdown-toggle:before {
  background: #ddd;
}
.edui-btn-toolbar .edui-btn.hover .edui-button-label {
  background: #17a7ad;
}
.edui-splitbutton.disabled .edui-icon-backcolor:before {
  background: #ddd;
}
.edui-tooltip {
  color: #fff;
  background: #222;
  position: absolute;
  white-space: nowrap;
  padding: 6px 5px;
  display: none;
  border-radius: 2px;
  margin-top: -81px;
  line-height: 20px;
}
.edui-tooltip:after {
  display: block;
  position: absolute;
  content: '';
  left: 50%;
  top: 32px;
  width: 0;
  height: 0;
  margin-left: -7px;
  border-color: #222 rgba(0,0,0,0) rgba(0,0,0,0);
  border-style: solid;
  border-width: 7px;
}
.edui-dialog-container .dropdown-menu,
.edui-dialog-container .edui-dropdown-menu {
  display: none;
  margin: 0;
  width: auto;
  position: absolute;
  list-style: none;
  background: #138d92;
  padding: 5px;
  color: #fff;
  padding-bottom: 3px;
  margin-top: 10px;
  margin-left: 44px;
}
.edui-dialog-container .dropdown-menu li,
.edui-dialog-container .edui-dropdown-menu li {
  display: block;
  width: auto;
  padding: 3px;
  margin: 0;
  min-width: 90px;
  background: #169ea4;
  margin-bottom: 2px;
}
.edui-dialog-container .dropdown-menu li.active,
.edui-dialog-container .edui-dropdown-menu li.active {
  background: #18b0b6;
}
.edui-dialog-container .dropdown-menu li:hover,
.edui-dialog-container .edui-dropdown-menu li:hover {
  background: #18b0b6;
}
.edui-dialog-container .dropdown-menu li .edui-combobox-item-label,
.edui-dialog-container .edui-dropdown-menu li .edui-combobox-item-label {
  line-height: 24px;
  font-size: 17px !important;
}
.edui-dialog-container .dropdown-menu:before,
.edui-dialog-container .edui-dropdown-menu:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 14px;
  top: -14px;
  left: 0;
  background: rgba(0,0,0,0);
}
.edui-dialog-container .dropdown-menu:after,
.edui-dialog-container .edui-dropdown-menu:after {
  display: block;
  position: absolute;
  content: '';
  left: 50%;
  top: -14px;
  width: 0;
  height: 0;
  margin-left: -7px;
  border-color: rgba(0,0,0,0) rgba(0,0,0,0) #138d92;
  border-style: solid;
  border-width: 7px;
}
.edui-dialog-container .dropdown-menu .edui-colorpicker table td a,
.edui-dialog-container .edui-dropdown-menu .edui-colorpicker table td a {
  width: 16px;
  height: 16px;
  display: block;
}
.edui-dialog-container .edui-dropdown-menu {
  margin-left: 22px;
}
.edui-dialog-container .edui-dropdown-menu .edui-emotion-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.edui-dialog-container .edui-dropdown-menu .edui-emotion-wrapper ul li {
  display: inline-block;
  min-width: 75px;
  text-align: center;
}
.edui-dialog-container .edui-dropdown-menu .edui-emotion-wrapper ul li a {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 28px;
  text-decoration: none;
}
.edui-dialog-container .edui-dropdown-menu .edui-emotion-wrapper ul li.edui-emotion-tabs {
  display: none;
}
.edui-dialog-container .edui-dropdown-menu .edui-tab-pane {
  display: none;
}
.edui-dialog-container .edui-dropdown-menu .edui-tab-pane.active {
  display: block;
}
.edui-dialog-container .edui-dropdown-menu .edui-emotion-smileytable td {
  color: #fff;
}
.edui-dialog-container .edui-modal {
  position: absolute;
  left: 50%;
  background: #169ea4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  padding: 10px;
  outline: none;
  top: 0;
}
.edui-dialog-container .edui-modal input[type="text"],
.edui-dialog-container .edui-modal input[type="email"],
.edui-dialog-container .edui-modal input[type="password"],
.edui-dialog-container .edui-modal input[type="number"] {
  border: 2px solid #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  outline: none;
}
.edui-dialog-container .edui-modal .edui-modal-header {
  padding: 10px;
}
.edui-dialog-container .edui-modal .edui-modal-header h3 {
  margin: 0;
}
.edui-dialog-container .edui-modal .edui-modal-body .edui-tab-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.edui-dialog-container .edui-modal .edui-modal-body .edui-tab-nav .edui-tab-item {
  display: inline-block;
  padding: 6px 10px;
  background: #138d92;
}
.edui-dialog-container .edui-modal .edui-modal-body .edui-tab-nav .edui-tab-item a {
  color: #fff;
  text-decoration: none;
}
.edui-dialog-container .edui-modal .edui-modal-body .edui-tab-nav .edui-tab-item.active {
  background: #1abdc3;
}
.edui-dialog-container .edui-modal .edui-modal-body .edui-tab-pane {
  display: none;
}
.edui-dialog-container .edui-modal .edui-modal-body .edui-tab-pane.active {
  display: block;
}
.edui-dialog-container .edui-modal .edui-modal-footer {
  padding: 10px;
}
.edui-dialog-container .edui-modal .edui-modal-footer .edui-btn {
  display: inline-block;
  background: #18b0b6;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 8px 10px;
  float: right;
  margin-left: 10px;
  cursor: pointer;
}
.edui-dialog-container .edui-modal .edui-modal-footer .edui-btn.hover {
  background: #1ccad1;
}
.edui-dialog-container .edui-modal .edui-modal-footer .edui-btn.edui-btn-primary {
  background: #222;
}
.edui-dialog-container .edui-modal .edui-modal-footer .edui-btn.edui-btn-primary.hover {
  background: #4e4e4e;
}
.edui-dialog-container .edui-modal .edui-dialog-map-body table td {
  white-space: nowrap;
}
.edui-dialog-container .edui-modal .edui-dialog-map-body table td a.edui-map-button {
  display: inline-block;
  background: #18b0b6;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 3px 6px;
  cursor: pointer;
}
.edui-dialog-container .edui-modal .edui-dialog-map-body table td a.edui-map-button:hover {
  background: #138d92;
}
.edui-editor-body {
  background: #fff;
  border-radius: 0 0 3px 3px;
}
.edui-editor-body textarea {
  background: transparent;
}
.edui-editor-body>.edui-body-container {
  margin: 0;
  outline: 0;
  padding: 9px 5px;
}
.edui-editor-body>.edui-body-container p {
  margin: 0;
}
.edui-modal-backdrop {
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #a3a3a3;
}
#eduiVideoFloat .edui-video-float-left:before,
#eduiVideoFloat .edui-video-float-none:before,
#eduiVideoFloat .edui-video-float-right:before {
  display: block !important;
  width: 36px;
  font-family: 'um-turquoise';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 32px;
  text-align: center;
  line-height: 36px;
  overflow: hidden;
}
#eduiVideoFloat .edui-video-float-left:before {
  content: "\e613";
}
#eduiVideoFloat .edui-video-float-none:before {
  content: "\e61d";
}
#eduiVideoFloat .edui-video-float-right:before {
  content: "\e615";
}
.edui-image-searchBar .edui-image-searchAdd {
  background: #169ea4;
}
.edui-image-searchBar .edui-image-searchAdd.hover {
  background: #18b0b6;
}
#eduiVideoPreview {
  background: #18b0b6 !important;
}
